<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BBAC GYM</title>
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800&amp;subset=korean" rel="stylesheet">
    <link rel="stylesheet" href="../../../resources/css/common.css">
    <link rel="stylesheet" href="../../../resources/css/introduce.css">
    <script src="../../../resources/js/jquery-3.5.1.min.js"></script>
    <script src="../../../resources/js/introduce.js"></script>
</head>
<body>
    <div class="main_banner">
        <div class="main_banner_title">BBAC_GYM</div>
        <div class="main_banner_menubar">
            <div class="logo_div">
                <a href="main.html"><img src="../../../resources/img/logo.png" alt="logo" class="logo_img"/></a>
            </div>
            <ul class="header_menu">
                <li data-id="introduce" id="intro">소개</li>
                <li data-id="reservation" id="reservation">예약</li>
                <li data-id="shop" id="shop">상품</li>
                <li data-id="QA" id="QA">고객센터</li>
            </ul>
            <div class="haeder_menu_right">
                <div class="right_menu_img">
                    <img src="../../../resources/img/search_white.png" alt="" class="menu_img active" id="search_icon">
                    <img src="../../../resources/img/search.png" alt="" class="menu_img_hover" id="search_icon_hover">
                </div>
                <div class="right_menu_img">
                    <img src="../../../resources/img/user_white.png" alt="" class="menu_img active" id="user_icon">
                    <img src="../../../resources/img/user.png" alt="" class="menu_img_hover" id="user_icon_hover">
                </div>
            </div>
        </div>
    </div>
    <div class="main_container">
        <div class="main_container_menu">
            <ul>
                <li class="active" data-tab="protein">프로틴</li>
                <li data-tab="BCAA">BCAA</li>
                <li data-tab="belt">벨트</li>
                <li data-tab="strap">스트랩</li>
                <li data-tab="socks">양말</li>
            </ul>
        </div>
        <div class="main_container_content active" id="protein">
            프로틴
        </div>
        <div class="main_container_content" id="BCAA">
            BCAA
        </div>
        <div class="main_container_content" id="belt">
            벨트
        </div>
        <div class="main_container_content" id="strap">
            스트랩
        </div>
        <div class="main_container_content" id="socks">
            양말
        </div>
        <div class="main_container_content" id="trainer">
            <div class="trainer_info_title">
                <div class="trainer_info" data-tab="bbac">
                    <img src="../../../resources/img/trainers_ex.jpg" alt="" class="trainer_info_img">
                </div>
                <div class="trainer_info" data-tab="honey">
                    <img src="../../../resources/img/trainers_ex.jpg" alt="" class="trainer_info_img">
                </div>
            </div>
            <div class="trainer_info_content active" id="bbac">
                <div class="trainer_content_div">
                    <img src="../../../resources/img/trainers_ex.jpg" alt="" class="trainer_content_img">
                    <div class="trainer_content_detail">
                        소개
                    </div>
                </div>
            </div>
            <div class="trainer_info_content" id="honey">
                <div class="trainer_content_div">
                    <img src="../../../resources/img/trainers_ex.jpg" alt="" class="trainer_content_img">
                    <div class="trainer_content_detail">
                        소개2
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer_main">
            <div class="footer_left">
                <div class="footer_title">
                    BBAC_GYM
                </div>
                <div class="footer_left_main">
                    서울특별시 서대문구 북가좌동<br/>
                    대표 : 최병근<br/>
                    Tel : 02-111-1111
                </div>
            </div>
            <div class="footer_right">
                Instagram <img src="../../../resources/img/instagram.png" alt="" class="customer_img">
            </div>
        </div>
        <div class="footer_bottom">
            <div class="footer_bottom_main">
                <div>BBAC_GYM</div>
                <div>고객센터 1588-1588</div>
            </div>
        </div>
    </div>
</body>
</html>